<form class="form-horizontal" role="form" method="POST"
 action="{{ path('innova_collecticiel_add_notation') }}">
          
    <div class="innova_collecticiel_notation_form container">

        <div class="row">
            <div class="form-group col-md-6">
                {# Bloc "Rappel des instructions ..." #}
                {% if dropzone.instruction != null %}
                    {% include 'InnovaCollecticielBundle:Dropzone:recallInstructionTeacher.html.twig' %}
                {% endif %}
            </div>
            <div class="form-group col-md-6">
            </div>
        </div>

        <div class="row text-left">
            <div class="form-group col-md-6">
                <b>{{ 'Review on'|trans({}, 'innova_collecticiel') }}</b>
            </div>
            <div class="form-group row col-md-6">
            </div>
        </div>

        <div class="row text-left">
            <div class="form-group row col-md-6">
                <table class="table table-responsive table-condensed well table-striped">
                    <tbody class="table">
                        <tr>
                            <td>{{ 'Type'|trans({}, 'innova_collecticiel') }}</td>
                            <td>{{ 'Document'|trans({}, 'innova_collecticiel') }}</td>
                        </tr>
                        <tr>
                            <td>{{ (document.type~'_type')|trans({}, 'innova_collecticiel') }}</td>
                            <td>{{ documentTitle }}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
            <div class="form-group row col-md-6">
            </div>
        </div>

        <div class="row text-left">
            <div class="form-group row col-md-6">
                <b>{{ 'Author'|trans({}, 'innova_collecticiel') }}</b>
                {{ drop.user.firstName }} {{ drop.user.lastName }}
            </div>
            <div class="form-group row col-md-6">
            </div>
        </div>

        {#          #}
        {# Notation #}
        {#          #}
        {% if dropzone.evaluationType == "notation" %}
            <div class="row text-left">
                <div class="form-group row col-md-6">
                    <b>{{ 'Grade'|trans({}, 'innova_collecticiel') }}</b>
                    <label>
                        <input id="innova_collecticiel_notation_form_note_{{document.id}}" name="innova_collecticiel_notation_form[note]" required="required" min="0" max="9999" class="form-control" type="integer"
                        {% if recordOrTransmitNotation == 0 %}
                            value="{{ notationDocument }}"
                        {% else %}
                            value="{{ '0' }}"
                        {% endif %}>
                    </label>
                    {{ 'Notation Max'|trans({}, 'innova_collecticiel') }}
                    {{ maximumNotation }}
                    {{ ')' }}
                </div>
                <div class="form-group row col-md-6">
                </div>
            </div>
        {% endif %}

        {#             #}
        {# RatingScale #}
        {#             #}
        {% if dropzone.evaluationType == "ratingScale" %}
            <div class="row text-left">
                <div class="form-group col-md-6">
                    <b>{{ 'Appreciation'|trans({}, 'innova_collecticiel') }}</b>
                </div>
            </div>

            <div class="row text-left">
                <div class="form-group col-md-6">
                    <select id="innova_collecticiel_notation_form_scaleName_{{document.id}}" name="innova_collecticiel_notation_form[scaleName]" class="form-control">
                        {# notationAppreciationDocument = 0 => notation sans critère #}
                        {# notationAppreciationDocument = 99 => pas de notation #}
                        {% if notationAppreciationDocument != '0' and notationAppreciationDocument != '99' %}
                            <option value="0">-----</option>
                            {% for scale in scalesArray %}
                                <option value="{{ scale.id }}"
                                    {% if notationAppreciationDocument == scale.scaleName %}selected{% endif %}>
                                    {{ scale.scaleName }}
                                 </option>
                            {% endfor %}
                        {% else %}
                            <option value="0" selected>-----</option>
                            {% for scale in scalesArray %}
                                <option value="{{ scale.id }}">{{ scale.scaleName }}</option>
                            {% endfor %}
                        {% endif %}>
                    </select>
                </div>
            </div>

            {% for criteria in criteriasArray %}
                <div class="row text-left">
                    <div class="form-group col-md-6">
                        <b>{{ criteria.criteriaName }}</b>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="form-group col-md-6">
                        <textarea id="innova_collecticiel_notation_form_{{criteria.criteriaName}}_{{document.id}}" name="innova_collecticiel_notation_form[{{criteria.criteriaName}}]" required="required" class="claroline-tiny-mce hide"
                        {% if recordOrTransmitNotation == 0 %}value="{{criteria.criteriaName}}" {% endif %}
                        >
                        {# Pour affichage de la valeur de l'accusé de réception #}
                        {% render(controller('InnovaCollecticielBundle:ChoiceCriteria:renderChoiceText',
                        {'gradingCriteriaId': criteria.id, 'documentId': document.id, 'dropzoneId': dropzone.id})) %}
                        </textarea>
                    </div>
                </div>
            {% endfor %}

        {% endif %}

    </div>
</form>
