<div>
    <div class="path-summary-pin-toggle-btn btn-group">
        <button role="button" data-ng-click="pathSummaryShowCtrl.toggleSummary()" data-ng-class="{ 'active': pathSummaryShowCtrl.state.opened }" class="btn btn-sm btn-primary">{{ 'summary'|trans:{}:'path_wizards' }}</button>
        <button class="btn btn-sm btn-default" data-ng-click="pathSummaryShowCtrl.toggleSummaryPin()" data-ng-class="{ 'btn-success active': pathSummaryShowCtrl.state.pinned }"><i class="fa fa-map-pin"></i></button>
    </div>
    <!-- Angular can't initialize 2 directives on same element (here, PathSummaryDirective & NgPageslideDirective) so we need a container -->
    <div data-pageslide="" data-ps-open="pathSummaryShowCtrl.state.opened" data-ps-side="left" data-ps-class="path-summary-container" data-ps-push="pathSummaryShowCtrl.state.pinned" data-ps-push-class="path-summary-opened" data-ps-pin-class="path-summary-pinned">
        <a href="" id="sidebar-left-close" class="ps-close pull-right" data-ng-click="pathSummaryShowCtrl.close()" data-placement="right" data-toggle="tooltip" data-original-title="{{ 'sidebar_close'|trans:{}:'path_wizards' }}">
            <span class="fa fa-angle-double-left"></span>
            <span class="sr-only">{{ 'sidebar_close'|trans:{}:'path_wizards' }}</span>
        </a>

        <div class="path-summary">
            <!-- List title -->
            <h2>
                <span class="fa fa-sitemap"></span>
                {{ pathSummaryShowCtrl.title }}
            </h2>

            <div>
                <uib-progressbar max="pathSummaryShowCtrl.totalSteps" value="pathSummaryShowCtrl.getTotalProgression()"><span style="color:white; white-space:nowrap;"> {{ pathSummaryShowCtrl.getTotalProgressionPercentage() }} {{ 'completed'|trans:{}:'path_wizards' }}</span></uib-progressbar>
            </div>

            <!-- Block to display where there is no structure -->
            <div data-ng-if="pathSummaryShowCtrl.structure.length === 0" class="text-center">
                <em>There is no structure for this path.</em>
            </div>

            <!-- Block to display when a structure is set -->
            <div class="path-summary-tree" data-ui-tree="" data-ng-if="pathSummaryShowCtrl.structure.length !== 0">
                <ul class="tree" data-ui-tree-nodes="" data-ng-model="pathSummaryShowCtrl.structure" data-nodrop="">
                    <li data-ui-tree-node="" data-ng-repeat="step in pathSummaryShowCtrl.structure" data-ng-include="pathSummaryShowCtrl.webDir + 'bundles/innovapath/js/PathSummary/Partial/show-item.html'"></li>
                </ul>
            </div>
        </div>
    </div>
</div>