{#  Type de notation/évaluation : #}
{#  0 : enregistrer et pas transmise #}
{#  1 : enregistrer ET transmise #}
{# 99 : pas de notation #}

{% if recordOrTransmitNotation == 0  %}
    <a data-target="#transmit-modal_{{document.id}}" data-toggle="modal" data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}" id="document_id_{{ document.id }}" name="document_id_{{ document.id }}" class="document_validate" >
        <i data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Not Transmitted review'|trans({},'innova_collecticiel') }}" class="fa fa-mail-forward">
        </i>
    </a>
{% endif %}

{% if recordOrTransmitNotation == 1  %}
    <i data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Transmitted review'|trans({},'innova_collecticiel') }}" class="fa fa-check"></i>
{% endif %}

{% if recordOrTransmitNotation == 99  %}
    <i data-toggle="tooltip" data-placement="top" data-original-title="{{ 'No review'|trans({},'innova_collecticiel') }}" class="fa fa-times"></i>
{% endif %}
