{#  Type de notation/évaluation : #}
{#  0 : enregistrer et pas transmise #}
{#  1 : enregistrer ET transmise #}
{# 99 : pas de notation/évaluation #}

{# Consulter/Modifier une évaluation #}
{% if recordOrTransmitNotation == 0  %}
    <a href="#validate-modal-notation_{{document.id}}" data-toggle="modal"
    data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}"
    data-document_type="{{ document.type }}"
    id="document_id_{{ document.id }}" name="document_id_{{ document.id }}"
    class="document_validate">
        <span data-toggle="tooltip" data-placement="top" data-original-title="{{ 'To modify a review'|trans({},'innova_collecticiel') }}">
            {% if dropzone.evaluationType == "notation" %}
                {{ notationDocuments[document.id] ~ "/" ~ dropzone.maximumNotation }}
            {% else %}
                {% if notationScaleDocument == '0' %}  
                    <i class="fa fa-graduation-cap" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Review'|trans({},'innova_collecticiel') }}"></i>
                {% else %}
                    {{notationScaleDocument}}
                {% endif %}
            {% endif %}
        </span>
    </a>
{% endif %}

{# Consulter l'évaluation #}
{% if recordOrTransmitNotation == 1  %}
    <a href="#view-modal-evaluation_{{document.id}}" data-toggle="modal"
    data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}"
    data-document_type="{{ document.type }}"
    id="document_id_{{ document.id }}" name="document_id_{{ document.id }}"
    class="document_validate">
        <span data-toggle="tooltip" data-placement="top" data-original-title="{{ 'To see a review'|trans({},'innova_collecticiel') }}">
        {% if dropzone.evaluationType == "notation" %}
            {{ notationDocuments[document.id] ~ "/" ~ dropzone.maximumNotation }}
        {% else %}
            {{notationScaleDocument}}
        {% endif %}
        </span>
    </a>
{% endif %}

{# Ajouter une évaluation #}
{% if recordOrTransmitNotation == 99  %}
    {% set notationDocument = 0  %}
    <a href="#validate-modal-notation_{{document.id}}" data-toggle="modal"
    data-dropzone_id="{{ dropzone.id }}" data-document_id="{{ document.id }}"
    data-document_type="{{ document.type }}"
    id="document_id_{{ document.id }}" name="document_id_{{ document.id }}"
    class="document_validate">
        <span data-toggle="tooltip" data-placement="top" data-original-title="{{ 'To post a review'|trans({},'innova_collecticiel') }}" class="fa fa-graduation-cap">
        </span>
    </a>
{% endif %}

{# Déclaration de la modal pour saisir la notation #}
<div class="modal fade validate-modal-notation" id="validate-modal-notation_{{document.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>

            <div class="modal-body">
                {% include 'InnovaCollecticielBundle:Drop:notationForm.html.twig' 
                    with {
                    'documentTitle': documentTitle,
                    'maximumNotation': maximumNotation,
                    'recordOrTransmitNotation' : recordOrTransmitNotation,
                    'notationDocument': notationDocument,
                    'scalesArray' : scalesArray,
                    'criteriasArray' : criteriasArray,
                    'notationAppreciationDocument': notationAppreciationDocument,
                    }
                %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancel_button" data-dismiss="modal">
                {{ 'Cancel'|trans({}, 'innova_collecticiel') }}
                </button>

                <button data-toggle="modal"
                data-dropzone_id="{{dropzone.id}}" data-document_id="{{document.id}}"
                data-document_url="{{document.url}}" data-document_title="{{document.title}}"
                data-document_sender_firstname="{{document.sender.firstname}}"
                data-document_sender_lastname="{{document.sender.lastname}}"
                data-document_record_or_transmit="0"
                data_document_evaluationType="{{ dropzone.evaluationType }}"

                {% if dropzone.evaluationType == 'notation'  %}
                    data-criteria_nb="0"
                {% endif %}

                {% if dropzone.evaluationType == 'ratingScale'  %}
                    {% for i, criteria in criteriasArray %}
                        data-criteria_{{i}}_id="{{criteria.id}}"
                        data-criteria_{{i}}_name="{{criteria.criteriaName}}"
                    {% endfor %}
                    data-criteria_nb="{{criteriasArray|length}}"
                {% endif %}
                type="button" class="btn btn-primary modal_confirm_notation_record">{{ 'To record'|trans({}, 'innova_collecticiel') }}
                </button>

                <button data-toggle="modal"
                data-dropzone_id="{{dropzone.id}}" data-document_id="{{document.id}}"
                data-document_url="{{document.url}}" data-document_title="{{document.title}}"
                data-document_sender_firstname="{{document.sender.firstname}}"
                data-document_sender_lastname="{{document.sender.lastname}}"
                data-document_record_or_transmit="1"
                data_document_evaluationType="{{ dropzone.evaluationType }}"

                {% if dropzone.evaluationType == 'notation'  %}
                    data-criteria_nb="0"
                {% endif %}

                {% if dropzone.evaluationType == 'ratingScale'  %}
                    {% for i, criteria in criteriasArray %}
                        data-criteria_{{i}}_id="{{criteria.id}}"
                        data-criteria_{{i}}_name="{{criteria.criteriaName}}"
                    {% endfor %}
                    data-criteria_nb="{{criteriasArray|length}}"
                {% endif %}

                type="button" class="btn btn-primary modal_confirm_notation_transmit">{{ 'To transmit'|trans({}, 'innova_collecticiel') }}</button>
            </div>
        </div>
    </div>
</div>
{# Fin de la déclaration de la modal pour confirmation de la validation #}
