{# Ecran de l'espace personnel. #}
{# Affichage de l'icône suivant la valeur de l'accusé de réception. #}

{# Ce sont les valeurs d'AR qui doivent afficher un triangle rouge #}
{% set redTriangle = [1, 3, 4, 5] %}

{# 0 : pas d'accusé de réception #}
{% if value == 0 %}
	{#225 : changement de font-awesome #}
    <span class="fa fa-minus" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'No return recept'|trans({}, 'innova_collecticiel') }}"> </span>
{% endif %}
{# 1 : doublon #}
{% if value == 1 %}
	<div class="short-div">
	    <span class="fa fa-hand-paper-o display-red" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Doubloon'|trans({}, 'innova_collecticiel') }}"> </span>
	</div>
{% endif %}
{# 2 : document bien reçu #}
{% if value == 2 %}
    <span class="fa fa-thumbs-o-up" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Document received'|trans({},'innova_collecticiel') }}"> </span>
{% endif %}
{# 3 : document illisible #}
{% if value == 3 %}
	<div class="short-div">
	    <span class="fa fa-hand-paper-o display-red" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Document unreadable'|trans({}, 'innova_collecticiel') }}"> </span>
	</div>
{% endif %}
{# 4 : document incomplet #}
{% if value == 4 %}
	<div class="short-div">
	    <span class="fa fa-hand-paper-o display-red" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Incomplete document'|trans({}, 'innova_collecticiel') }}"> </span>
	</div>
{% endif %}
{# 5 : erreur de document #}
{% if value == 5 %}
	<div class="short-div">
		<span class="fa fa-hand-paper-o display-red" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Error document'|trans({}, 'innova_collecticiel') }}"></span>
	</div>
{% endif %}
{# Affichage du triangle rouge au cas où #}
{% if value in redTriangle %}
	<br />
	<span class="fa fa-exclamation-triangle display-red"></span>
{% endif %}
