{# S'il faut mettre le dropdown tout à droite alors il ajouter ajouter :
text-right
au div situé ci-dessous
#}
<div class="row">
    <div class="col-sm-offset-10 col-sm-2 text-center  centering-actions">
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                {{ 'Action'|trans({}, 'innova_collecticiel') }} 
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-right">
                <li class="disabled" id="actionReturnReceipt">
                    <a class="comment_validate"
                    href="#" id="dropzone_id_{{dropzone.id}}" name="dropzoneId" data-dropzone_id="{{ dropzone.id }}">
                    {{ 'Comment Auto'|trans({}, 'innova_collecticiel') }}
                    </a>
                </li>
                {# Demande JJQ. InnovaERV
                #226 : si accusé de réception pas sélectionné dans paramètres alors griser
                et désactiver "Accuser la réception" dans le menu déroulant
                #}
                {% if dropzone.returnReceipt == 1  %}
                    <li class="disabled" id="actionReturnReceipt2">
                {% else %}
                    <li class="disabled">
                {% endif %}
                    <a class="" href="#" data-toggle="modal" data-target="#validate-modal-return-receipt" data-dropzone_id="{{ dropzone.id }}">
                        {{ 'To add a return receipt'|trans({}, 'innova_collecticiel') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{# Parcours du tableau, des données et affichage du tableau. InnovaERV #}
{# Voir https://github.com/InnovaLangues/CollecticielBundle/issues/246 #}
{% set alertNbDocumentWithoutComment = 0 %}
{% set alertNbDocumentWithoutGraduation = 0 %}
{% set alertNbDocumentWithoutReview = 0 %}

{% for drop in pager.currentPageResults %}
    {% for document in drop.documents %}
        {% set foundDocument = false %}
        {% for key,value in teacherCommentDocArray %}
            {% if document.id == key %}
                {% if notationDocuments[document.id] == 0 %}
                    {% set alertNbDocumentWithoutComment = alertNbDocumentWithoutComment + 1 %}
                {% endif %}
            {% set foundDocument = true  %}
            {% endif %}
        {% endfor %}
        {% if foundDocument == false  %}
            {% set alertNbDocumentWithoutComment = alertNbDocumentWithoutComment + 1 %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% for drop in pager.currentPageResults %}
    {% for document in drop.documents %}
        {% set foundDocument = false %}
        {% for key,value in recordOrTransmitNotations %}
            {% if document.id == key %}
                {% if recordOrTransmitNotations[document.id] == 0 %}
                    {% set alertNbDocumentWithoutReview = alertNbDocumentWithoutReview + 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}

{% for drop in pager.currentPageResults %}
    {% for document in drop.documents %}
        {% set foundDocument = false %}
        {% for key,value in notationAppreciationDocumentsArray %}
            {% if document.id == key %}
                {% if notationAppreciationDocumentsArray[document.id] == 99 %}
                    {% if (document.validate == 1) %}
                        {% set alertNbDocumentWithoutGraduation = alertNbDocumentWithoutGraduation + 1 %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}

<form class="form-horizontal" method="GET" 
action="{{ path('innova_collecticiel_return_receipt')}}">
<!-- Vue donnant la liste des copies. Exemple d'URL : innovacollecticielbundle/2/drops/awaiting -->
<table class="table table-striped table-hover datatable sharedSpacesTable">
    <thead>
    {# Affichage de l'image de profil #}
    {% if dropzone.picture == 1  %}
        <th class="nameColumn"></th>
    {% endif %}

    <th class="nameColumn">{{ 'Name'|trans({},'innova_collecticiel') }}</th>
    <th class="nameColumn">{{ 'First name'|trans({},'innova_collecticiel') }}</th>

    {% if dropzone.username == 1  %}
        <th class="usernameColumn">{{ 'Nickname'|trans({},'innova_collecticiel') }}</th>
    {% endif %}

    <th class="dateColumn centered">
    <i class="fa fa-calendar-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Dated'|trans({},'innova_collecticiel') }}"></i>
    </th>

    <!-- Colonne ajoutée "Commentaires non lus" modifiée en "Document" -->
    <th class="centered">
    <i class="fa fa-file-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Document'|trans({},'innova_collecticiel') }}"></i>
    </th>

    {# Transmettre une demande de commentaire #}
    {% if dropzone.evaluation != 1  %}
        <!-- Colonne ajoutée "Devoirs à corriger" modifiée en "Etat" -->
        <th class="centered">
            {# Affichage du nombre d'opérations en attente #}
            {# Voir https://github.com/InnovaLangues/CollecticielBundle/issues/246 #}
            {% if alertNbDocumentWithoutComment != 0  %}
                <div class="short-div">
                    {# Ajout d'une alerte avec le nombre d'éléments non traités. InnovaERV, demande JJQ #}
                    {% if alertNbDocumentWithoutComment > 1  %}
                        <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                        data-original-title="{{ alertNbDocumentWithoutComment }} {{ 'Deals Pending'|trans({},'innova_collecticiel') }}">
                        </i>
                    {% endif %}
                    {% if alertNbDocumentWithoutComment == 1  %}
                        <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                        data-original-title="{{ alertNbDocumentWithoutComment }} {{ 'Deal Pending'|trans({},'innova_collecticiel') }}">
                        </i>
                    {% endif %}
                </div>
            {% endif %}
            <i class="fa fa-arrow-right" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Request comment'|trans({},'innova_collecticiel') }}"></i>
        </th>
    {% endif %}

    <!-- Colonne ajoutée "Voir" modifiée en "Commentaire  - Evaluation"  -->
    <th class="centered">
        <i class="fa fa-commenting-o" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Comment evaluation'|trans({},'innova_collecticiel') }}"></i>
    </th>

    {% if adminInnova %}
        {# On affiche cette colonne si le créateur du collecticiel veut afficher les accusés de réception. #}
        {# Demande JJQ. InnovaERV #}
        {% if dropzone.returnReceipt == 1  %}
            <th class="centered">
                {% if alertNbDocumentWithoutReturnReceipt != 0  %}
                    <div class="short-div">
                        {# Ajout d'une alerte avec le nombre d'éléments non traités. InnovaERV, demande JJQ #}
                        {% if alertNbDocumentWithoutReturnReceipt > 1  %}
                            <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                            data-original-title="{{ alertNbDocumentWithoutReturnReceipt }} {{ 'Deals Pending'|trans({},'innova_collecticiel') }}">
                            </i>
                        {% endif %}
                        {% if alertNbDocumentWithoutReturnReceipt == 1  %}
                            <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                            data-original-title="{{ alertNbDocumentWithoutReturnReceipt }} {{ 'Deal Pending'|trans({},'innova_collecticiel') }}">
                            </i>
                        {% endif %}
                    </div>
                {% endif %}
                <i class="fa fa-hand-o-right" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Return receipt'|trans({},'innova_collecticiel') }}"></i>
            </th>
        {% endif %}

        {# On affiche cette colonne si le créateur du collecticiel veut afficher/gérer les évaluations. #}
        {# Demande JJQ. InnovaERV #}
        {% if dropzone.evaluation == 1  %}
            <th class="centered">
                {% if alertNbDocumentWithoutGraduation != 0  %}
                    <div class="short-div">
                        {# Ajout d'une alerte avec le nombre d'éléments non traités. InnovaERV, demande JJQ #}
                        {% if alertNbDocumentWithoutGraduation > 1  %}
                            <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                            data-original-title="{{ alertNbDocumentWithoutGraduation }} {{ 'Deals Pending'|trans({},'innova_collecticiel') }}">
                            </i>
                        {% endif %}
                        {% if alertNbDocumentWithoutGraduation == 1  %}
                            <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                            data-original-title="{{ alertNbDocumentWithoutGraduation }} {{ 'Deal Pending'|trans({},'innova_collecticiel') }}">
                            </i>
                        {% endif %}
                    </div>
                {% endif %}
                <i class="fa fa-graduation-cap" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Review'|trans({},'innova_collecticiel') }}">
                </i>
            </th>
        {% endif %}
        
        {% if dropzone.evaluation == 1  %}
            <th class="centered">
                {% if alertNbDocumentWithoutReview != 0  %}
                    <div class="short-div">
                        {# Ajout d'une alerte avec le nombre d'éléments non traités. InnovaERV, demande JJQ #}
                        {% if alertNbDocumentWithoutReview > 1  %}
                            <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                            data-original-title="{{ alertNbDocumentWithoutReview }} {{ 'Deals Pending'|trans({},'innova_collecticiel') }}">
                            </i>
                        {% endif %}
                        {% if alertNbDocumentWithoutReview == 1  %}
                            <i class="fa fa-exclamation-circle" data-toggle="tooltip" data-placement="top"
                            data-original-title="{{ alertNbDocumentWithoutReview }} {{ 'Deal Pending'|trans({},'innova_collecticiel') }}">
                            </i>
                        {% endif %}
                    </div>
                {% endif %}
                <i class="fa fa-mail-forward" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Review state'|trans({},'innova_collecticiel') }}">
                </i>
            </th>
        {% endif %}

        <th class="centered no-sort sorting_disabled centering-columns-input">
        {# Demande JJQ. InnovaERV {{ 'Selection'|trans({}, 'innova_collecticiel') }} #}
            <div>
                <input align="center" id="document_id_0" data-dropzone-select_id={{ dropzone.id }} type="checkbox" name="documentId" data-document_id="0" class="btn btn-danger btn-sm"
                 data-toggle="tooltip" data-placement="top" data-original-title="{{ 'Selection'|trans({},'innova_collecticiel') }}"
                  />
            </div>
        </th>
    {% endif %}
 
    </thead>

    <tbody>
        {# Parcours du tableau, des données et affichage du tableau. InnovaERV #}
        {% for drop in pager.currentPageResults %}
            {% for document in drop.documents %}
                {% if (document.validate == 1) %}
                    {# Séparation de l'affichage de la vue. InnovaERV #}
                    {% include 'InnovaCollecticielBundle:Drop:Listing/dropsListingList.html.twig'
                        with {
                        'maximumNotation' : maximumNotation,
                        'notationDocument' : notationDocuments[document.id],
                        'recordOrTransmitNotation' : recordOrTransmitNotations[document.id],
                        'notationAssessorDocument' : notationAssessorDocumentsArray[document.id],
                        'notationCommentDocument': notationCommentDocumentsArray[document.id],
                        'notationQualityDocument': notationQualityDocumentsArray[document.id],
                        'notationAppreciationDocument': notationAppreciationDocumentsArray[document.id],
                        'notationScaleDocument' : notationAppreciationDocumentsArray[document.id],
                        }
                     %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>

</table>
</form>

{# Déclaration de la modal pour confirmation de la validation #}
<div class="modal fade" id="validate-modal-return-receipt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{ 'Return receipt choice'|trans({}, 'innova_collecticiel') }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="step-1">
                    <span>{{ 'user_picker.select_target'|trans({}, 'competency') }}:</span>
                    <br>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix0" value="0" />{{ 'No return recept'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix2" value="2" />{{ 'Document received'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix3" value="3" />{{ 'Document unreadable'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix4" value="4" />{{ 'Incomplete document'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix5" value="5" />{{ 'Error document'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="returnReceiptId" id="choix1" value="1" />{{ 'Doubloon'|trans({}, 'innova_collecticiel') }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancel_button" data-dismiss="modal">{{ 'Cancel'|trans({}, 'innova_collecticiel') }}</button>
                <button data-dropzone_id="{{dropzone.id}}" id="modal_confirm_return_receipt" data-method="VALIDATE" type="button" class="btn btn-primary rest" href="#">{{ 'Ok'|trans({}, 'innova_collecticiel') }}</button>
            </div>
        </div>
    </div>
</div>
{# Fin de la déclaration de la modal pour confirmation de la validation #}

<script src="{{ asset('bundles/innovacollecticiel/js/tooltip.js') }}"></script>
<script src="{{ asset('bundles/innovacollecticiel/js/popup.js') }}"></script>
