{# Affichage du tableau de l'onglet "Demandes adressées" #}
<tr id="{{ document.id }}">
    {# Affichage de l'image de profil #}
    {% if dropzone.picture == 1  %}
        <td>
            <div class="user-panel">
                <div class="pull-left image">
                    {% if drop.user.getPicture() != '' %}
                        <img src="{{ asset('uploads/pictures/') ~ drop.user.getPicture() }}"
                        class=""
                        alt="{{ drop.user.getLastName() ~ ' ' ~ drop.user.getFirstName() }}">
                    {% else %}
                        <img class="img-polaroid img-responsive" src="{{ asset('bundles/icapnotification/images/default-avatar.png') }}">
                    {% endif %}
                </div>
            </div>
        </td>
    {% endif %}

    <td>{{ drop.user.lastName|upper }}</td>

    <td>{{ drop.user.firstName|capitalize }}</td>

    {% if dropzone.username == 1  %}
        <td>{{ drop.user.userName|capitalize }}</td>
    {% endif %}

    {# En date du #}
    <td>{{ document.documentDate|date('formatDatetime'|trans({}, 'innova_collecticiel')) }}</td>

    {% if document.url is not null %}
        {% set documentTitle = document.url | length > 40 ? document.url | slice(0, 40) ~ '...' :document.url %}
    {% else %}
        {% if document.title is not null %}
            {% set documentTitle = document.title %}
        {% else %}
            {% set documentTitle = document.resourceNode.name %}
        {% endif %}
    {% endif %}

    {% set notationMax = 99 %}

    <td>
        {% if document.url is not null %}
            <a target="_blank"
               href="{{ document.url }}">{{ document.url | length > 40 ? document.url | slice(0, 40) ~ '...' :document.url }}</a>
        {% else %}
            {% if document.title is not null %}
                <a target="_blank"
                   href="{{ path('innova_collecticiel_open_resource', {'resourceId': dropzone.id, 'documentId': document.id}) }}">{{ document.title }}</a>
            {% else %}
                <a target="_blank"
                   href="{{ path('innova_collecticiel_open_resource', {'resourceId': dropzone.id, 'documentId': document.id}) }}">{{ document.resourceNode.name }}</a>
            {% endif %}
        {% endif %}
    </td>

    {% if dropzone.evaluation != 1  %}
    <td class="centered centering-columns">
        {# Afficher ici la valeur "Devoirs à corriger" modifiée en "Etat" #}
        <div class="btn-group">
            {% include 'InnovaCollecticielBundle:Document:documentsNbTextToRead.html.twig' %}
        </div>
    </td>
    {% endif %}

    <td class="centered centering-columns">
    {# Appel de la vue "Vue d'un fichier" où seront affichés les différents commentaires. #}
        <div class="btn-group">
           {# Variable qui va compter le nombre de commentaires #}
           {# Affichage d'un bouton si pas de commentaires #}
            {% if document.comments|length == 0 %}
                <a data-toggle="tooltip" data-placement="top" data-original-title="{{ 'To drop'|trans({},'innova_collecticiel') }}" class="fa fa-commenting-o" href="{{ path('innova_collecticiel_drops_detail_add_comments_innova', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}" type="button" class="btn btn-default btn-sm">
                </a>
           {# Sinon affichage du compteur et des nouveaux commentaires #}
            {% else %}
                <a data-toggle="tooltip" data-placement="top" data-original-title="{{ 'To drop'|trans({},'innova_collecticiel') }}" class="fa fa-commenting-o" href="{{ path('innova_collecticiel_drops_detail_add_comments_innova', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}" type="button">
                {# #229 : Réduire la taille du nombre de commentaires dans les cellules #}
                    <div class="very-small">
                        {{ document.comments|length }} 
                        {% if document.getUnReadComments( app.user.id ) != 0 %}
                            (+{{ document.getUnReadComments( app.user.id ) }})
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </div>
    </td>

    {% if adminInnova %}
        {# Affiche cette colonne si le créateur du collecticiel veut gérer les accusés de réception. Demande JJQ. InnovaERV #}
        {% if dropzone.returnreceipt == 1  %}
            <td class="centered centering-columnsAR">
                <div class="btn-group">
                    {# Afficher ici la valeur de l'accusé de réception #}
                    {% include 'InnovaCollecticielBundle:Document:returnReceipt.html.twig' %}
                </div>
            </td>
        {% endif %}

        {# On affiche cette colonne si le créateur du collecticiel veut gérer les évaluations. Demande JJQ. InnovaERV #}
        {% if dropzone.evaluation == 1  %}
            <td class="centered centering-columnsAR">
                <div class="btn-group">
                    {% include 'InnovaCollecticielBundle:Document:modalDisplayNotation.html.twig' %}
                    {# Afficher ici la valeur de la notation #}
                    {% include 'InnovaCollecticielBundle:Document:notation.html.twig' 
                        with {
                        'recordOrTransmitNotation': recordOrTransmitNotation,
                        'notationDocument': notationDocument,
                        'notationScaleDocument' : notationScaleDocument,
                        'scalesArray' : scalesArray,
                        'criteriasArray' : criteriasArray,
                        'notationAppreciationDocument': notationAppreciationDocument,
                        } 
                        %}
                </div>
            </td>
        {% endif %}

        {% if dropzone.evaluation == 1  %}
            <td class="centered centering-columnsAR" id="is-transmit-{{ document.id }}">
                <div class="btn-group">
                    {% include 'InnovaCollecticielBundle:Document:documentIsTransmit.html.twig'
                        with {
                        'notationScaleDocument' : notationScaleDocument,
                        'notationDocument': notationDocuments[document.id]
                        } 
                     %}
                </div>
            </td>
        {% endif %}
    {% endif %}

    <td class="centered no-sort sorting_disabled">
    <div>
        {# Affiche de la case à cocher en étant "coché" ou "décoche". Demande JJQ. InnovaERV #}
        {% include 'InnovaCollecticielBundle:Document:inputReturnReceipt.html.twig' %}
    </div>
    </td>
</tr>

{# Déclaration de la modal pour confirmation de la validation #}
<div class="modal fade transmit-modal" id="transmit-modal_{{document.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                {# Version commentaire #}
                {% if dropzone.evaluation != 1  %}
                    {{ 'Commented document modal'|trans({}, 'innova_collecticiel') }}
                {# Version évaluation #}
                {% else %}
                    {{ 'Evaluation document modal'|trans({}, 'innova_collecticiel') }}
                {% endif %}
                </h4>
            </div>
            <div class="modal-body">
                {# Version commentaire #}
                {% if dropzone.evaluation != 1  %}
                    {{ 'Sure to ask comment for document'|trans({}, 'innova_collecticiel') }}
                {# Version évaluation #}
                {% else %}
                    {{ 'Sure to ask evaluation for document'|trans({}, 'innova_collecticiel') }}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans({}, 'innova_collecticiel') }}</button>
                <button data-document_id="{{document.id}}"
                        data-dropzone_id="{{dropzone.id}}"
                        data-document_sender_id="99" 
                        data-document_comment_length="99"
                        data-document_docDropUser_id="99" 
                        data-document_adminInnova="99" 
                 data-method="VALIDATE" type="button" class="btn btn-primary rest modal_transmit_confirm" href="#">{{ 'Ok'|trans({}, 'innova_collecticiel') }}</button>
            </div>
        </div>
    </div>
</div>

