<div class="player-container">
    <!-- Step content -->
    <div class="panel-body">
        <timer
            data-ng-if="exercisePlayerCtrl.timer"
            data-timer="exercisePlayerCtrl.timer"
            data-timer-start="true"
            data-timer-destroy="false">
        </timer>

        <!-- Display the current Step -->
        <step-show
                data-step-index="{{ exercisePlayerCtrl.index }}"
                data-step="exercisePlayerCtrl.step"
                data-solution-shown="exercisePlayerCtrl.solutionShown"
                data-current-try="exercisePlayerCtrl.currentStepTry"
                data-feedback="exercisePlayerCtrl.feedback"
                data-all-answers-found="exercisePlayerCtrl.allAnswersFound">
        </step-show>
    </div>

    <!-- Player navigation -->
    <div class="panel-footer text-center">
        <div class="btn-group" role="group">
            <!-- Previous step -->
            <button type="button" role="button" class="btn btn-default"
                    data-toggle="tooltip" data-container="body" title="{{ 'btn_prev_step_label'|trans:{}:'ujm_sequence' }}"
                    data-ng-disabled="!exercisePlayerCtrl.previous || (exercisePlayerCtrl.feedback.enabled && !exercisePlayerCtrl.feedback.visible) || (exercisePlayerCtrl.feedback.enabled && exercisePlayerCtrl.feedback.visible && !exercisePlayerCtrl.solutionShown)"
                    data-ng-click="exercisePlayerCtrl.goTo(exercisePlayerCtrl.previous)"
            >
                <span class="fa fa-arrow-circle-left"></span>
                <span class="sr-only">{{ 'btn_prev_step_label'|trans:{}:'ujm_sequence' }}</span>
            </button>

            <!-- Validate step (for Formative exercises) -->
            <button type="button" role="button" class="btn btn-success"
                    data-ng-show="exercisePlayerCtrl.feedback.enabled && !exercisePlayerCtrl.feedback.visible"
                    data-ng-click="exercisePlayerCtrl.submit()"
            >
                <span class="fa fa-check"></span>
                {{ 'btn_validate_step'|trans:{}:'ujm_sequence' }}
            </button>

            <!-- Retry step (for Formative exercises) -->
            <button type="button" role="button" class="btn btn-default"
                    data-ng-show="exercisePlayerCtrl.isButtonEnabled('retry')"
                    data-ng-click="exercisePlayerCtrl.retry()"
            >
                <span class="fa fa-refresh"></span>
                {{ 'btn_retry_step'|trans:{}:'ujm_sequence' }}
            </button>

            <!-- Show solution (for Formative exercises) -->
            <button type="button" role="button" class="btn btn-default"
                    data-ng-show="exercisePlayerCtrl.feedback.enabled && exercisePlayerCtrl.feedback.visible && exercisePlayerCtrl.currentStepTry === exercisePlayerCtrl.step.meta.maxAttempts && !exercisePlayerCtrl.solutionShown"
                    data-ng-click="exercisePlayerCtrl.showSolution()"
            >
                {{ 'btn_show_solution'|trans:{}:'ujm_sequence' }}
            </button>

            <!-- Next step -->
            <button type="button" role="button" class="btn btn-default"
                    data-ng-disabled="exercisePlayerCtrl.isButtonEnabled('next')"
                    data-toggle="tooltip" data-container="body" title="{{ 'btn_next_step_label'|trans:{}:'ujm_sequence' }}"
                    data-ng-click="exercisePlayerCtrl.goTo(exercisePlayerCtrl.next)"
            >
                <span class="fa fa-arrow-circle-right"></span>
                <span class="sr-only">{{ 'btn_next_step_label'|trans:{}:'ujm_sequence' }}</span>
            </button>
        </div>

        <!-- Navigation menu (to go to any step of the Exercise) -->
        <div class="btn-group dropup">
            <button data-ng-disabled="exercisePlayerCtrl.isButtonEnabled('navigation')" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'dropdown_step_navigate_choice_label'|trans:{"1" : exercisePlayerCtrl.index + 1, "2" : exercisePlayerCtrl.paper.order.length}:'ujm_sequence'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li data-ng-repeat="step in exercisePlayerCtrl.paper.order">
                    <a href="" data-ng-click="exercisePlayerCtrl.goTo(step)">
                        {{ 'dropdown_step_navigate_choice_label'|trans:{ "1" : $index + 1, "2" : exercisePlayerCtrl.paper.order.length }:'ujm_sequence' }}
                    </a>
                </li>
            </ul>
        </div>

        <!-- Interrupt Exercise -->
        <button type="button" role="button" class="btn btn-warning"
                data-ng-if="!exercisePlayerCtrl.isLastStep && exercisePlayerCtrl.exercise.meta.dispButtonInterrupt"
                data-confirm-modal="{{ 'sequence_interrupt_sequence_confirm'|trans:{}:'ujm_sequence'}}"
                data-confirm-modal-action="exercisePlayerCtrl.interrupt()"
        >
            <span class="fa fa-ban"></span>
            {{ 'btn_interrupt_sequence_label'|trans:{}:'ujm_sequence' }}
        </button>

        <!-- End Exercise -->
        <button type="button" role="button" class="btn btn-primary"
                data-ng-if="!exercisePlayerCtrl.next"
                data-ng-disabled="exercisePlayerCtrl.isButtonEnabled('end')"
                data-confirm-modal="{{ 'sequence_end_sequence_confirm'|trans:{}:'ujm_sequence'}}"
                data-confirm-modal-action="exercisePlayerCtrl.end()"
        >
            <span class="fa fa-sign-out"></span>
            {{ 'btn_end_sequence_label'|trans:{}:'ujm_sequence' }}
        </button>
    </div>
</div>
